<a href="https://colab.research.google.com/github/yebiny/Lecture-Python-Data_analysis-LV1/blob/main/09_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%90%EC%83%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 09. 데이터 탐색 (EDA) 실습
---
* 날짜:
* 이름:

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["font.size"] = 13
plt.style.use('ggplot')
plt.style.use('seaborn-whitegrid')
```


## **데이터 소개**
---

> * 데이터 출처 : https://www.kaggle.com/c/titanic/data?select=train.csv
> * 추가 설명: https://dacon.io/competitions/open/235539/overview/description

타이타닉은 역사상 가장 유명한 난파선 중 하나입니다.

1912년 4월 15일, 타이타닉은 항해중 빙산과의 충돌로 인해 침몰합니다. 탑승인원 2224명 중 1502명이 사망한 비극적인 사건이었고, 선박의 안전규정을 개선시키는 계기가 되었습니다.

이 과제에서는 여러분은 어떤 종류의 사람들이 많이 살아남았는지에 대한 분석을 해야 합니다.
그리고 머신러닝을 이용해 어떤 승객이 생존했을지 예측해보세요. 


|index|column|설명|
|--|--|--|
|0.| PassengerId||
|1.| Survived | 생존여부|
|2. |Pclass| 티켓 등급|
|3.| Name |이름|
|4.| Sex| 성별|
|5.| Age |나이|
|6.| SibSp| 타이타닉호에 탑승한 형제/배우자 수|
|7.| Parch |타이타닉호에 탑승한 부모/자녀 수 |
|8.| Ticket |티켓 번호|
|10| Fare |여객 요금|
|11.| Cabin| 객실 번호|
|12.| Embarked| 승선항|

코랩에 파일을 빠르게 업로드를 하기 위해서는 아래 코드를 실행합니다.


```
from google.colab import files
files.upload()
```

## **데이터 탐색(EDA)**

---
### **데이터 확인**
---




* **INSIGHT**
  * .
  * .

---
### **모든 속성의 분포 확인**
---

* **INSIGHT**

  * .
  * .

---
### **범주형 자료 시각화**
---

* **INSIGHT**

  * .
  * .

---
### **수치형 자료 시각화**
---

* **INSIGHT**
  * .
  * .

---
### **예측(Survived)값과의 관계 시각화 - 범주형 자료**
---

* **INSIGHT**
  * .

---
### **예측(Survived)값과의 관계 시각화 - 수치형 자료**
---

#### **1. Discrete Data: `SibSp, Parch`**

* **INSIGHT**
  * .

#### **2. Countinuous Data: `Age, Fare`**

* **INSIGHT**

  * 
  * .

* **INSIGHT**

  * .
  * .

* **INSIGHT**

  * .
  * .

---
### **기타 시각화**
---

#### **전체 페어플롯**

* **INSIGHT**

  * .
  * .

#### **상관관계**

---
### **Summary**
---
* **INSIGHT**

  * .
  * .